.navbar {
    background-color: #008000;
    width: fit;
    height: 150px;
    margin: 5px;
}

img {
    width: 150px;
    margin: 5px;
    flex-grow: 1;
}

.container {
    display: flex;
}

.item {
    flex-grow: 1;
    height: 300px;
    margin: 5px;
}

.one {
    background-color: #ea9307;
}

.two {
    background-color: #cd4602;
}

.three {
    background-color: #07d3ea;
}