#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.taskName {
  margin: 10px;
  width: 400px;
  cursor: pointer;
}

.taskDate {
  margin: 10px;
  width: 150px;
  color: aquamarine;
  cursor: pointer;
}

button, input {
  margin: 5px;
}

input {
  border-radius: 5px;
}

button:hover {
  background-color: blueviolet;
}

.affirmButton {
  color: green;
  border: 1px solid green;
  border-radius: 5px;
}

.deleteButton {
  color: red;
  border: 1px solid red;
  border-radius: 5px;
}

.editButton {
  color: blue;
  border: 1px solid blue;
  border-radius: 5px;
}